.pydevproject
build
dist
hankel.egg-info
*idea
*.pyc
devel/.ipynb_checkpoints/*
docs/_*
docs/demos/.ipynb_checkpoints/*
.tox/*
\.coverage

htmlcov/

*.aux

*.bcf

paper/Makefile~

*.dvi

*.out

paper/paper\.pdf

*.log

*.xml

*.tex
