exclude: '(^docs/conf.py)'

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.6.0
      hooks:
          - id: trailing-whitespace
          - id: check-added-large-files
          - id: check-ast
          - id: check-json
          - id: check-merge-conflict
          - id: check-xml
          - id: check-yaml
          - id: debug-statements
          - id: end-of-file-fixer
          - id: requirements-txt-fixer
          - id: mixed-line-ending
            args: ['--fix=no']

    - repo: https://github.com/PyCQA/flake8
      rev: 7.0.0
      hooks:
        - id: flake8
          additional_dependencies:
            # - flake8-comprehensions  # flake8<6 only
            - flake8-builtins
            # - flake8-eradicate       flake8 <6 only
            - pep8-naming
            - flake8-rst-docstrings
            # - flake8-copyright      # flake8<6 only
            - flake8-docstrings

    - repo: https://github.com/psf/black
      rev: 24.4.2
      hooks:
          - id: black

    - repo: https://github.com/PyCQA/isort
      rev: 5.13.2
      hooks:
      - id: isort

    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.10.0
      hooks:
        - id: rst-backticks

    - repo: https://github.com/asottile/pyupgrade
      rev: v3.15.2
      hooks:
      - id: pyupgrade
        args: [--py37-plus]

    - repo: https://github.com/asottile/setup-cfg-fmt
      rev: v2.5.0
      hooks:
      - id: setup-cfg-fmt
        args: ['--min-py3-version=3.6']
